# Ignore everything in src/
src/**

# Don't ignore the src/ directory itself and keep .gitkeep
!src/
!src/.gitkeep

/build/
/log/
/install/

# Ignore everything in robot_yaml/
robot_yamls/**

# Allow only .yaml files to be tracked
!robot_yamls/**/*.yaml